1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [38]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

def count(str):
    a = {}
    for i in str:
        if i.lower() not in a and i.upper() not in a:
            if i.lower() == i.upper(): 
                a[i]=str.count(i)
                while i in str: 
                    str = str.replace(i,'')
            else:
                a[i] = str.count(i.lower())+str.count(i.upper())
                while i.lower() in str or i.upper() in str:
                        str = str.replace(i.lower(),'')
                        str = str.replace(i.upper(),'') 
    return a

count(s)

{'W': 2,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 12,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 2,
 'l': 6,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [41]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def count(lst):
    a = {}
    for i in lst:
        a[i] = lst.count(i)
        while i in lst:
            lst.remove(i)
    return a
count(l)

{36: 3,
 58: 1,
 74: 1,
 64: 1,
 31: 2,
 24: 1,
 33: 1,
 99: 1,
 63: 2,
 85: 3,
 56: 2,
 70: 3,
 55: 1,
 54: 1,
 51: 3,
 81: 1,
 37: 1,
 1: 1,
 84: 4,
 50: 2,
 91: 3,
 98: 1,
 16: 1,
 92: 1,
 45: 3,
 94: 1,
 3: 2,
 87: 1,
 53: 1,
 89: 2}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [45]:
def sqr(x):
    return x*x
def cub(x):
    return x**3
def sxt(x):
    return cub(sqr(x))
sxt(3)

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [49]:
#a 
a =[]
for i in range(11):
    a.append(cub(i))
print(a)
#b
b = [i**3 for i in range(11)]
print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [56]:
a = [(i,j,k) for i in range(1,101) for j in range(i,101) for k in range(j,101) if i**2+j**2 == k**2]
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [62]:
def norm(x):
    return [(i-min(x))/(max(x)-min(x)) for i in x]

[5.790220317883095e-05,
 0.0,
 0.0001158044063576619,
 0.00034741321907298575,
 0.000665875336556556,
 1.0,
 0.00028951101589415475,
 0.0013607017747025274]