1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#ex. 1 a
for i in range(1,101):
    if i%3 ==0:
        if i%5 ==0:
            print('MickeyMouse')
        print('Mickey')
    elif i%5 ==0:
        print('Mouse')
    else:
        print(i)
#ex.1b
a=[]
for i in range(1,101):
    if i%3 ==0:
        if i%5 ==0:
            a.append('MickeyMouse')
        a.append('Mickey')
    elif i%5 ==0:
        a.append('Mouse')
    else:
        a.append(i)
for i in a:
    if i=='Mickey':
        i='Donald'
    elif i=='Mouse':
        i= 'Duck'
    elif i =='MickeyMouse':
        i='DonaldDuck' 
print(a)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
Mickey
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
Mickey
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
Mickey
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
Mickey
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
Mickey
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
Mickey
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 'Mickey', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 'Mickey', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 'Mickey', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 'Mickey', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 'Mickey', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 'Mickey', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [28]:
#way 1
def swap(x,y):
    temp = x
    x = y
    y = temp
    return x, y
#way 2
x,y = y,x

(4, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
#ex.3
import numpy as np
def dist(a,b):
    return np.sqrt((a[0]-b[0])**2+(a[1]-b[1])**2)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
def counter(str):
    a={}
    for i in str:
        if i.lower() not in a and i.upper() not in a:
            if i.lower() == i.upper(): 
                a[i]=str.count(i)
                while i in str: 
                    str = str.replace(i,'')
            else: 
                a[i]=str.count(i.lower())+str.count(i.upper())
                while i.lower() in str or i.upper() in str:
                    str = str.replace(i.lower(),'')
                    str = str.replace(i.upper(),'') 
    return a
    
counter(s)

{'W': 2,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 12,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 2,
 'l': 6,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(list):
    a=[]
    for i in list:
        a.append((i,list.count(i)))
        while i in list:
            list.remove(i)
    return a
unique(l)

[(36, 3),
 (58, 1),
 (74, 1),
 (64, 1),
 (31, 2),
 (24, 1),
 (33, 1),
 (99, 1),
 (63, 2),
 (85, 3),
 (56, 2),
 (70, 3),
 (55, 1),
 (54, 1),
 (51, 3),
 (81, 1),
 (37, 1),
 (1, 1),
 (84, 4),
 (50, 2),
 (91, 3),
 (98, 1),
 (16, 1),
 (92, 1),
 (45, 3),
 (94, 1),
 (3, 2),
 (87, 1),
 (53, 1),
 (89, 2)]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(a):
    return a**2
def cube(a):
    return a**3
def sxth(a):
    return cube(square(a))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
#ex.7
a=[]
for i in range(11):
    a.append(i**3)
b=[i**3 for i in range(11)]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
list = [(a,b,c) for a in range(1,101) for b in range (a+1,101) for c in range (b+1,101) if a**2+b**2==c**2]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
def norm(a):
    a = [(i - min(a))/(max(a)-min(a)) for i in a]
    return a
norm((2,5,3,18))

[0.0, 0.1875, 0.0625, 1.0]